body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  user-select: none;
  -webkit-user-select: none;
}

button {
  background-color: #f0f0f0;
  color: #131313;
  border: none;
}

h1 {
  color: #ffffff;
  text-align: center;
}

h2 {
  color: rgb(255, 111, 94);
}

h3 {
  color: #fff;
  width: 100%;
}

.slider {
  --slider-width: 40%;
  --slider-height: 6px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 99px;

  --level-color: #fff;
  --level-transition-duration: .1s;
}

.slider {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  height: calc(var(--slider-height) * 2);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' -25,
    'opsz' 24
}

@font-face {
  font-family: "zzt";
  src: url("../assets/Web437_IBM_VGA_8x16.woff");
}

.block {
  position: relative;
  width: 1474px;
  height: 800px;
}

.lowToleranceCanvas,
.playCanvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  /*border: 1px dashed #969977 !important;*/
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  outline: none;
}

.dashed-grid-paper {

  --grid-size: 32px;
  --grid-strength: 1px;
  --grid-dash: 16px;
  --grid-gap: 4px;
  --grid-color: #353a55;
  --paper-color: #131313;

  background-color: var(--paper-color);
  background-size: var(--grid-dash) var(--grid-dash), var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to bottom, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
    linear-gradient(to right, var(--grid-color) var(--grid-strength), transparent var(--grid-strength)),
    linear-gradient(to right, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
    linear-gradient(to bottom, var(--grid-color) var(--grid-strength), transparent var(--grid-strength));
}

.lowToleranceCanvas:focus-visible,
.lowToleranceCanvas:focus,
.lowToleranceCanvas:active {
  /*border: 1px dashed #bdd109 !important;*/
  outline: none;
}

.lowToleranceToolbar {
  background-color: #0e2a68;
  color: #ffc800;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  right: 0;
  width: 320px;
  height: 800px;
}

.lowToleranceToolbar .overlay {
  display: none;
  background-color: #0e2a68;
  width: 100%;
  height: 100%;
  opacity: 70%;
  position: absolute;
  z-index: 99;
}


.lowToleranceToolbar span.shades {
  font-size: 16px;
}

.lowToleranceToolbar span.title {
  display: block;
  font-family: "zzt";
  font-size: 16px;
  background: #131313;
  padding: 8px;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}

.lowToleranceToolbar span.divider {
  font-family: "zzt";
  font-size: 16px;
  color: #fff;
}

.lowToleranceToolbar .fieldContainer {
  margin: 8px;
}

.lowToleranceToolbar .fieldContainer button {
  margin-right: 8px;
}

.lowToleranceToolbar .fieldContainer span {}

.lowToleranceToolbar .fieldRow {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0;
}

.lowToleranceToolbar .valueBox {
  background-color: #131313;
  width: 24px;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  text-align: center;
  line-height: 2;
}

.lowToleranceToolbar .valueBox.valueText {
  width: auto;
}

.lowToleranceToolbar .imageBox {
  background-color: #131313;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.lowToleranceToolbar .layerBox {
  background-color: #131313;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  line-height: 2;
}

.lowToleranceToolbar .fieldText {
  color: #fff;
  font-size: 12px;
}

.lowToleranceToolbar .colorBox {
  background-color: #131313;
  width: 41px;
  height: 32px;
  margin-right: 8px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 8px;
  border-radius: 1px;
  margin-right: 8px;
}

.tabs * {
  z-index: 2;
}

.lowToleranceToolbar .container input[type="radio"] {
  display: none;
}

.lowToleranceToolbar .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 50px;
  font-size: .8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.lowToleranceToolbar .tab.other {
  color: #ff0000;
  pointer-events: none;
}

.lowToleranceToolbar .container input[type="radio"]:checked+label {
  color: #185ee0;
}

.lowToleranceToolbar .container input[type="radio"]:checked+label>.notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

.lowToleranceToolbar .container input[id="wall"]:checked~.glider {
  transform: translateX(0);
}

.lowToleranceToolbar .container input[id="item"]:checked~.glider {
  transform: translateX(100%);
}

.lowToleranceToolbar .container input[id="break"]:checked~.glider {
  transform: translateX(200%);
}

.lowToleranceToolbar .container input[id="push"]:checked~.glider {
  transform: translateX(300%);
}

.lowToleranceToolbar .container input[id="other"]:checked~.glider {
  transform: translateX(400%);
}

.lowToleranceToolbar .glider {
  position: absolute;
  display: flex;
  height: 24px;
  width: 50px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 1px;
  transition: 0.25s ease-out;
}

.lowToleranceToolbar .fieldCategory {
  height: 32px;
  width: 100px;
  background-color: #2e4675;
  line-height: 2;
  padding-left: 8px;
}

.lowToleranceToolbar .fieldCategory:hover {
  background-color: #5f76aa;
}

.playCanvas {
  background-color: #000;
}

.dialog-box {
  display: none;
  flex-direction: column;
  justify-content: center; 
  align-items:center;
  position: relative;
  overflow: hidden;
  top: 500px;
  margin: 0 auto;
  width: 60%;
  max-height: 30%;
  min-height: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: #fff;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: 'Fira Code', monospace;
  font-size: 24px;
  text-shadow: 0px 1px 20px #444, 0px 1px 10px rgba(255, 255, 255, 0.8);
  padding: 20px 60px;
  animation: fade_in_show 0.5s;
  z-index: 100;
}

.dialog-box[data-next]::after {
  content: "...";
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

@keyframes fade_in_show {
  0% {
       opacity: 0;
       transform: scale(0);
  }

  100% {
       opacity: 1;
       transform: scale(1);
  }
}

.spriteCanvas {
  display: block;
  /* position: absolute */
  top: 0;
  left: 0;
  margin: auto;
}

.spriteContainer {
  display: none;
  /* Hidden initially */
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 219px;
  margin: auto;
  background-color: #222;
  border-width: 5px;
  border-color: rgba(34, 34, 34, .9);
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.spriteInfo {
  color: #fff;
  padding: 4px;
}

.spriteInfoMode {
  color: #6d99f7
}

.paletteContainer {
  display: none;
  /* Hidden initially */
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 419px;
  margin: auto;
  background-color: #222;
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.paletteContainer p {
  color: #fff;
  margin-top: 0;
}

.paletteColorContainer {
  display: flex;
  margin-bottom: 16px;
}

.paletteColorBox {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid #fff;
  min-width: 100px;
  margin: 0 10px;
  text-align: center;
}

.paletteLabel {
  filter: invert(1);
  mix-blend-mode: difference;
}

.paletteButton {
  margin-bottom: 16px;
}

.paletteButton-right {
  margin-left: 16px;
}

.paletteButton-left {
  margin-left: 16px;
}

.paletteRecentContainer {
  display: flex;
  border: 2px solid #fff;
}

.paletteRecent {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
}

.editorContainer {
  display: none;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 419px;
  margin: auto;
  background-color: #222;
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.editorTextContainer {
  color: #fff;
}

.editorTextContainer input {
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  text-align: left;
  margin-bottom: 6px;
  font-family: monospace, monospace;
  font-size: 16px;
  font-weight: 600;
}

.editorTextContainer textarea {
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  /*background-color: #eef2f8;
  background-color: rgba(238, 242, 248, 1); */
  width: 450px;
  height: 500px;
  padding: 6px;
  resize: none;
  font-family: monospace, monospace;
  font-size: 16px;
  font-weight: 500;
  color: #222;

}

.lowToleranceCanvas {
  border-radius: 4px;
}

.spriteCanvas {
  border: 1px solid black;
  image-rendering: pixelated;
  background-color: #5f5f64;
  background-image: linear-gradient(45deg, #b1b1b1 50%, #c0c0c5 50%);
  background-size: 16px 16px;

}