body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  user-select: none;
  -webkit-user-select: none;
}

button {
  background-color: #f0f0f0;
  border-color: #16316d
}

h1 {
  color: #303030;
  text-align: center;
}

h2 {
  color: rgb(255, 111, 94);
}

h3 {
  color: #fff;
  width: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

@font-face {
  font-family: "zzt";
  src: url("../assets/Web437_IBM_VGA_8x16.woff");
}

.block {
  position: relative;
  width: 1474px;
  height: 800px;
}

.lowToleranceCanvas, .playCanvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border: 1px dashed #969977 !important;
  outline: none;
}

.dashed-grid-paper {

  --grid-size: 32px;
  --grid-strength: 1px;
  --grid-dash: 16px;
  --grid-gap: 4px;
  --grid-color: #353a55;
  --paper-color: #131313;

  background-color: var(--paper-color);
  background-size: var(--grid-dash) var(--grid-dash), var(--grid-size) var(--grid-size);
  background-image:
  linear-gradient(to bottom, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)), 
  linear-gradient(to right, var(--grid-color) var(--grid-strength), transparent var(--grid-strength)),
  linear-gradient(to right, transparent var(--grid-gap), var(--paper-color) var(--grid-gap)),
  linear-gradient(to bottom, var(--grid-color) var(--grid-strength), transparent var(--grid-strength));
}

.lowToleranceCanvas:focus-visible,
.lowToleranceCanvas:focus,
.lowToleranceCanvas:active
{
  border: 1px dashed #bdd109 !important;
  outline: none;
}

.lowToleranceToolbar {
  background-color: #0e2a68;
  color: #ffc800;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  right: 0;
  width: 320px;
  height: 800px;
}

.lowToleranceToolbar span.shades {
  font-size: 16px;
}

.lowToleranceToolbar span.title {
  display: block;
  font-family: "zzt";
  font-size: 16px;
  background: #131313;
  padding: 8px;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}

.lowToleranceToolbar span.divider {
  font-family: "zzt";
  font-size: 16px;
  color: #fff;
}

.lowToleranceToolbar .fieldContainer {
  margin: 8px;
}

.lowToleranceToolbar .fieldContainer button {
  margin-right: 8px;
}

.lowToleranceToolbar .fieldContainer span {
  position: relative;
}

.lowToleranceToolbar .fieldRow {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0;
}

.lowToleranceToolbar .valueBox {
  background-color: #131313;
  width: 24px;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  text-align: center;
  line-height: 2;
}

.lowToleranceToolbar .imageBox {
  background-color: #131313;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.lowToleranceToolbar .layerBox {
  background-color: #131313;
  height: 32px;
  margin-right: 8px;
  padding: 0 8px;
  line-height: 2;
}

.lowToleranceToolbar .fieldText {
  color: #fff;
  font-size: 12px;
}

.lowToleranceToolbar .colorBox {
  background-color: #131313;
  width: 41px;
  height: 32px;
  margin-right: 8px;
}

.playCanvas {
  background-color: #000;
}

.spriteCanvas {
  display: block;
  /* position: absolute */
  top: 0;
  left: 0;
  margin: auto;
}

.spriteContainer {
  display: none;
  /* Hidden initially */
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 219px;
  margin: auto;
  background-color: #222;
  border-width: 5px;
  border-color: rgba(34, 34, 34, .9);
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.spriteInfo {
  color: #fff;
  padding: 4px;
}

.spriteInfoMode {
  color: #6d99f7
}

.paletteContainer {
  display: none;
  /* Hidden initially */
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 419px;
  margin: auto;
  background-color: #222;
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.paletteContainer p {
  color: #fff;
  margin-top: 0;
}

.paletteColorContainer {
  display: flex;
  margin-bottom: 16px;
}

.paletteColorBox {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid #fff;
  min-width: 100px;
  margin: 0 10px;
  text-align: center;
}

.paletteLabel {
  filter: invert(1);
  mix-blend-mode: difference;
}

.paletteButton {
  margin-bottom: 16px;
}

.paletteButton-right {
  margin-left: 16px;
}

.paletteButton-left {
  margin-left: 16px;
}

.paletteRecentContainer {
  display: flex;
  border: 2px solid #fff;
}

.paletteRecent {
  display: flex;
  flex: 1 1 200px;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
}

.editorContainer {
  display: none;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 419px;
  margin: auto;
  background-color: #222;
  padding: 64px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.editorTextContainer {
  color: #fff;
}

.editorTextContainer input {
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  text-align: left;
  margin-bottom: 6px;
  font-family: monospace, monospace;
  font-size: 16px;
  font-weight: 600;
}

.editorTextContainer textarea {
  border: 2px solid #000000;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  /*background-color: #eef2f8;
  background-color: rgba(238, 242, 248, 1); */
  width: 450px;
  height: 500px;
  padding: 6px;
  resize: none;
  font-family: monospace, monospace;
  font-size: 16px;
  font-weight: 500;
  color: #222;
 
}

/*
.block {
    
    box-sizing: border-box;
    width: 100%; 
    border: 1px solid white;
    margin-left: -100%;
    padding-left: 124px;
  
}

.spriteContainer {
  
    background-color: #222;
    padding: 64px;
    transform: translate(-400px,50px);
    width: 600px;
    margin: 0 auto;
    
}
*/

.lowToleranceCanvas {

  /*background-color: #131313;
  /*margin: 10px auto;
    /*padding: 5px;
    border: 5px solid #f7f8f31a;
  border-style: none;*/
  border-radius: 4px;

}

.spriteCanvas {

  border: 1px solid black;
  image-rendering: pixelated;
  /* Makes the spriteCanvas appear pixelated */
  /* background-color: #e5e5f7; */
  /* background-image: linear-gradient(45deg, #eeeefd 50%, #e5e5f7 50%); */
  background-color: #5f5f64;
  background-image: linear-gradient(45deg, #b1b1b1 50%, #c0c0c5 50%);
  background-size: 16px 16px;

}